body {
  overflow-x: hidden;
  font-family: Rajdhani;
}

.aboutme {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  padding-bottom: 5em;
}

.aboutme button {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 2em;
  width: 15%;
  position: relative;
  font-weight: 600;
}

.navs {
  margin: 1em;
  font-size: 2em;
  font-family: Rajdhani;
}

.navRight {
  display: flex;
}

.notfound {
  font-family: Rajdhani;
}

.nfsvg {
  fill: #ff6666;
  margin-left: 30em;
}

form {
  padding-top: 5em;
  font-family: Rajdhani;
  width: 40em;
  justify-content: center;
  margin: auto;
}

label {
  font-size: 1.5em;
}

.home {
  font-family: Rajdhani;
  position: absolute;
  top: 30%;
  left: 30%;
  right: 10%;
  margin-top: -10px;
  margin-left: -50px;
}
.home h1 {
  font-size: 5rem;
}

.home h2 {
  font-size: 3rem;
}

.home p {
  font-size: 2rem;
}

.footer {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Rajdhani;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.footericon {
  font-size: 23px;
  padding-left: 1em;
  padding-right: 1em;
}

#about {
  color: #ff6666;
}

#contact {
  color: #ff6666;
}

.aboutme p {
  font-size: 1.1em;
}

#cartoon {
  border-radius: 50%;
  width: 7%;
  height: auto;
}

.aboutmetitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutmetitle h1 {
  margin-top: auto;
  margin-bottom: auto;
}

.workview,
.educationView,
.projectView,
.hobbiesview {
  height: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  border-radius: 30px;
  text-align: left;
  background-color: #ffe6e6;
}

.educationView h5 {
  font-weight: 700;
}

.workview h5 {
  font-weight: 700;
}

.workview {
  background-color: #cce5ff;
}

.hobbiesview {
  background-color: #ffd9b3;
  height: 30rem;
}

.hobbiesview h5 {
  font-weight: 700;
}

.projectView {
  height: 80%;
  padding-bottom: 5em;
  background-color: #c6ecc6;
}

.projectView h6 {
  font-weight: 700;
}

.experis,
.kjell,
.uib,
.superchat,
.portfolio,
.loginportal,
.chameleon,
.municipality,
.mefit,
.twitterml,
.zaraml,
.football,
.videogames,
.exercise,
.tech {
  padding-left: 2em;
  padding-right: 2em;
}

a:hover {
  color: #ff6666;
}

@media screen and (max-width: 600px) {
  .footer {
    background-color: #e6e6e6;
    width: 100%;
  }

  .footericon {
    font-size: 16px;
  }

  .form-group {
    width: fit-content;
  }

  .aboutme {
    margin-top: 3.5em;
    padding-bottom: 4em;
  }

  .aboutme img {
    display: none;
  }

  .aboutme p {
    font-size: 1em;
  }

  .aboutme h1 {
    font-size: 2em;
  }

  .aboutme button {
    width: 20%;
    font-size: 0.6em;
  }

  .workview,
  .educationView,
  .projectView,
  .hobbiesview {
    height: 100%;
  }

  nav {
    height: 2em;
    font-size: 0.6em;
  }
}
